<div class="form-group image-fields">
	<%= f.hidden_field :_destroy %>
	<%= f.label :image_url, 'Insert Photo URL' %>
	<div class="row">
		<%= f.text_field :image_url, class: "form-control col-9" %>
		<div class="btn btn-danger remove-image-field col">
			remove
		</div>
	</div>
</div>
