<h1>Hawkers#edit</h1>
<p>Find me in app/views/hawkers/edit.html.erb</p>
<h1>
	Hawker Form
</h1>
<div id="hawker-edit-map" latitude=<%= @hawker.latitude%> longitude=<%= @hawker.longitude%>></div>
<%= render 'form' %>
<%# <script src="/assets/javascripts/edit/gmap.js" type="text/javascript"></script> %>
<%# <script src="gmap.js" async defer></script> %>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJoSvMHbfjl06D5vPh6QEhweUc4GL90zc&libraries=places&callback=iHateRuby"
async defer></script>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
