
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
            <div class="d-flex flex-grow-1">
                <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
                <a class="navbar-brand d-none d-lg-inline-block" href="#">
                    <i class="fas fa-home"></i>
                </a>
                <a class="navbar-brand-two mx-auto mt-2 d-inline-block text-body" href="#" class="text-decoration-none">
                  <b>HAWKERz</b>
                    <!-- <img src="//placehold.it/40?text=LOGO" alt="logo"> -->
                </a>
                <div class="w-100 text-right">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </div>

            <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar">
                <ul class="navbar-nav ml-auto flex-nowrap">
                    <li class="nav-item">
                        <a href="#" class="nav-link m-2 menu-item nav-active">Login</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link m-2 menu-item">Sign Up</a>
                    </li>
                </ul>
            </div>
        </nav>


<br>



        <!-- class="active" -->
<div class="container">
<br>
<br>
<div class="row">
    <div class="col-lg-8">
    </div>
        <div class="col-1">
<form class="form-inline">
  <label class="my-1 mr-2" for="inlineFormCustomSelectPref"></label>
  <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
    <option selected>Choose...</option>
    <option value="1">Featured</option>
    <option value="2">A-Z</option>
    <option value="3">Highest Rated</option>
  </select>
  </form>
        </div>
    <div class="col-lg-3">
    </div>
</div>
<!-- ===================================================== -->
<div class="row">
    <div class="col-lg-2">
    </div>
    		<div class="col-lg-8">
    			<div class="row">
        <div class="col-lg-4">
        <img src=<%= image_path "hawkers_index/food3.jpg" %> class="rounded float-left" width="180" height="180">
        </div>
        <div class="col-lg-8">
            <h5 class="text-info">Maxwell Food Centre</h5>
            <h6 class="text-dark">Has been around since 1924. One of the premier hawker centre in Singapore with more than 1000 stalls</h6>
            <br>
            <br>
            <h6>Maxwell Road</h6>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
            <i class="far fa-star"></i>
        </div>
      </div>
      </div>
    <div class="col-lg-2">
    </div>
</div>
<br>
<div class="row">
    <div class="col-lg-2">
    </div>
        <div class="col-8">
            <div class="border-bottom"></div>
        </div>
    <div class="col-lg-2">
    </div>
</div>
<br>
<!-- ===================================================== -->
<div class="row">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-8">
    			<div class="row">
    <div class="col-lg-4">
        <img src=<%= image_path "hawkers_index/food2.jpg" %> class="rounded float-left" width="180" height="180">
    </div>
    <div class="col-lg-8">
        <h5 class="text-info">Newton Food Centre</h5>
        <h6 class="text-dark">Favorite haunts for tourist to try out local delights</h6>
        <br>
        <br>
        <h6>Newton Road</h6>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
    </div>
  </div>
</div>
    <div class="col-lg-2">
    </div>
</div>
<br>
<div class="row">
    <div class="col-lg-2">
    </div>
        <div class="col-lg-8">
            <div class="border-bottom"></div>
        </div>
    <div class="col-lg-2">
    </div>
</div>
<br>
<!-- ===================================================== -->
<div class="row">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-8">
    			<div class="row">
    <div class="col-lg-4">
        <img src=<%= image_path "hawkers_index/food.jpg" %> class="rounded float-left" width="180" height="180">
    </div>
    <div class="col-lg-8">
        <h5 class="text-info">Tekka Food Centre</h5>
        <h6 class="text-dark">Famous for Indian Cuisine. Local Indian Food galore</h6>
        <br>
        <br>
        <h6>Tekka Road</h6>
         <i class="fas fa-star"></i>
         <i class="fas fa-star"></i>
         <i class="fas fa-star"></i>
         <i class="fas fa-star-half-alt"></i>
         <i class="far fa-star"></i>
    </div>
  </div>
</div>
    <div class="col-lg-2">
    </div>
</div>
<br>
<div class="row">
    <div class="col-lg-2">
    </div>
        <div class="col-lg-8">
            <div class="border-bottom"></div>
        </div>
    <div class="col-lg-2">
    </div>
</div>
<br>
<!-- ===================================================== -->
</div>

<!-- Footer -->
<footer class="page-footer font-small pt-4">

  <!-- Footer Elements -->
  <div class="container">

    <!--Grid row-->
    <div class="row">

      <!--Grid column-->
      <div class="col-md-6 mb-4">

        <!-- Form -->
        <form class="form-inline">
          <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search"
            aria-label="Search">
          <i class="fas fa-search" aria-hidden="true"></i>
        </form>
        <!-- Form -->

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-6 mb-4">

        <form class="input-group">
          <input type="text" class="form-control form-control-sm" placeholder="Your email"
            aria-label="Your email" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-sm btn-outline-white my-0" type="button">Get Updated</button>
          </div>
        </form>

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->
</div>
  <!-- Footer Elements -->
  <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1">
          <i class="fab fa-facebook-f"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1">
          <i class="fab fa-twitter"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-gplus mx-1">
          <i class="fab fa-google-plus-g"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1">
          <i class="fab fa-linkedin-in"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-dribbble mx-1">
          <i class="fab fa-dribbble"> </i>
        </a>
      </li>
    </ul>


  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/"> HAWKERz.com</a>
  </div>
  <!-- Copyright -->


</footer>